#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  background: url(assets/img/bg1.png) no-repeat center center fixed;
  background-size: cover;
  /* margin-top: 60px; */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  /* 垂直滚动条的宽度 */
  width: 8px;
  /* 水平滚动条的高度 */
  height: 8px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  /* 轨道样色 */
  background: #c7f4ff;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  /* 滑块颜色 */
  background: linear-gradient(#8bb6e6, #4a90e2, #8bb6e6);
  /* 滑块圆角 */
  border-radius: 10px;
}

/* 滑块hover效果 */
::-webkit-scrollbar-thumb:hover {
  /* 滑块hover颜色 */
  background: #3c85d8;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #1e70bf;
  text-decoration: none;
}

a {
  /* 取消a标签在移动端点击时的蓝色 */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

ul>li {
  list-style: none;
}


.mobile-hide {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .mobile-show {
    display: block !important;
  }
}