@property --a {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes animate {

  0% {
    --a: 0deg;
  }

  1% {
    --a: 3.6deg
  }

  2% {
    --a: 7.2deg;
  }

  3% {
    --a: 10.8deg;
  }

  4% {
    --a: 14.4deg;
  }

  5% {
    --a: 18deg;
  }

  6% {
    --a: 21.6deg;
  }

  7% {
    --a: 25.2deg;
  }

  8% {
    --a: 28.8deg;
  }

  9% {
    --a: 32.4deg;
  }

  10% {
    --a: 36deg;
  }

  11% {
    --a: 39.6deg;
  }

  12% {
    --a: 43.2deg;
  }

  13% {
    --a: 46.8deg;
  }

  14% {
    --a: 50.4deg;
  }

  15% {
    --a: 54deg;
  }

  16% {
    --a: 57.6deg;
  }

  17% {
    --a: 63deg;
  }

  18% {
    --a: 66.6deg;
  }

  19% {
    --a: 70.2deg;
  }

  20% {
    --a: 73.8deg;
  }

  21% {
    --a: 77.4deg;
  }

  22% {
    --a: 81deg;
  }

  23% {
    --a: 84.6deg;
  }

  24% {
    --a: 88.2deg;
  }

  25% {
    --a: 90deg;
  }

  26% {
    --a: 93.6deg;
  }

  27% {
    --a: 97.2deg;
  }

  28% {
    --a: 100.8deg;
  }

  29% {
    --a: 104.4deg;
  }

  30% {
    --a: 108deg;
  }

  31% {
    --a: 113.4deg;
  }

  32% {
    --a: 117deg;
  }

  33% {
    --a: 120.6deg;
  }

  34% {
    --a: 124.2deg;
  }

  35% {
    --a: 127.8deg;
  }

  36% {
    --a: 131.4deg;
  }

  37% {
    --a: 135deg;
  }

  38% {
    --a: 138.6deg;
  }

  39% {
    --a: 142.2deg;
  }

  40% {
    --a: 145.8deg;
  }

  41% {
    --a: 149.4deg;
  }

  42% {
    --a: 153deg;
  }

  43% {
    --a: 156.6deg;
  }

  44% {
    --a: 160.2deg;
  }

  45% {
    --a: 163.8deg;
  }

  46% {
    --a: 167.4deg;
  }

  47% {
    --a: 171deg;
  }

  48% {
    --a: 174.6deg;
  }

  49% {
    --a: 178.2deg;
  }

  50% {
    --a: 180deg;
  }

  51% {
    --a: 183.6deg;
  }

  52% {
    --a: 187.2deg;
  }

  53% {
    --a: 190.8deg;
  }

  54% {
    --a: 194.4deg;
  }

  55% {
    --a: 198deg;
  }

  56% {
    --a: 201.6deg;
  }

  57% {
    --a: 205.2deg;
  }

  58% {
    --a: 208.8deg;
  }

  59% {
    --a: 212.4deg;
  }

  60% {
    --a: 216deg;
  }

  61% {
    --a: 219.6deg;
  }

  62% {
    --a: 223.2deg;
  }

  63% {
    --a: 226.8deg;
  }

  64% {
    --a: 230.4deg;
  }

  65% {
    --a: 234deg;
  }

  66% {
    --a: 237.6deg;
  }

  67% {
    --a: 241.2deg;
  }

  68% {
    --a: 244.8deg;
  }

  69% {
    --a: 248.4deg;
  }

  70% {
    --a: 252deg;
  }

  71% {
    --a: 255.6deg;
  }

  72% {
    --a: 259.2deg;
  }

  73% {
    --a: 262.8deg;
  }

  74% {
    --a: 266.4deg;
  }

  75% {
    --a: 270deg;
  }

  76% {
    --a: 273.6deg;
  }

  77% {
    --a: 277.2deg;
  }

  78% {
    --a: 280.8deg;
  }

  79% {
    --a: 284.4deg;
  }

  80% {
    --a: 288deg;
  }

  81% {
    --a: 291.6deg;
  }

  82% {
    --a: 295.2deg;
  }

  83% {
    --a: 298.8deg;
  }

  84% {
    --a: 302.4deg;
  }

  85% {
    --a: 306deg;
  }

  86% {
    --a: 309.6deg;
  }

  87% {
    --a: 313.2deg;
  }

  88% {
    --a: 316.8deg;
  }

  89% {
    --a: 320.4deg;
  }

  90% {
    --a: 324deg;
  }

  91% {
    --a: 327.6deg;
  }

  92% {
    --a: 331.2deg;
  }

  93% {
    --a: 334.8deg;
  }

  94% {
    --a: 338.4deg;
  }

  95% {
    --a: 342deg;
  }

  96% {
    --a: 345.6deg;
  }

  97% {
    --a: 349.2deg;
  }

  98% {
    --a: 352.8deg;
  }

  99% {
    --a: 356.4deg;
  }

  100% {
    --a: 360deg;
  }
}