<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plutossy.dao.TagMapper">
    <resultMap id="BaseResultMap" type="com.plutossy.domain.Tag">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <insert id="insertTag" parameterType="java.lang.String">
        insert into t_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
        </trim>
    </insert>

    <delete id="deleteTagById" parameterType="java.lang.Long">
        delete from t_tag
        where id = #{id}
    </delete>

    <update id="updateTag" parameterType="com.plutossy.domain.Tag">
        update t_tag
        <set>
            <if test="name != null">
                name = #{name},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectTagById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select *
        from t_tag
        where id = #{id}
    </select>

    <select id="selectAllTag" resultMap="BaseResultMap">
        select * from t_tag
    </select>

    <select id="selectTagByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select *
        from t_tag
        where name like CONCAT('%', #{name}, '%')
    </select>


    <select id="selectNameCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from t_tag where name = #{name}
    </select>

</mapper>
