<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plutossy.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.plutossy.domain.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="type" jdbcType="BIT" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="github" jdbcType="VARCHAR" property="github"/>
        <result column="csdn" jdbcType="VARCHAR" property="csdn"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="wechat" jdbcType="VARCHAR" property="wechat"/>
        <result column="birth" jdbcType="TIMESTAMP" property="birth"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="captcha" jdbcType="VARCHAR" property="captcha"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Columns">
        id, nickname, avatar, username, type, create_time, update_time, sex, phone, email, github, csdn, qq, wechat, birth, address, introduction
    </sql>

    <select id="verifyPassword" resultType="java.lang.Long" parameterType="java.util.HashMap">
        select id
        from t_user
        where nickname = #{nickname} and password = #{password}
    </select>

    <insert id="register" parameterType="java.util.HashMap">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
                nickname,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            type,create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="avatar != null">
                #{avatar},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="email != null">
                #{email},
            </if>
            false,now(),
        </trim>
    </insert>

    <select id="selectAllNickname">
        select nickname from t_user
    </select>

    <select id="selectAllUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Columns"/>
        from t_user
        order by create_time
    </select>

    <select id="selectUserByIdAndType" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Columns"/>
        from t_user
        where type = #{type}
        and id = #{id}
        order by create_time
    </select>

    <select id="selectUserById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Columns"/>
        from t_user
        where id = #{id}
    </select>

    <select id="selectCaptcha" resultType="java.lang.String" parameterType="java.util.HashMap">
        select captcha
        from t_user
        where id=#{id} and email = #{email}
    </select>

    <select id="selectUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Columns"/>
        from t_user
        where type = #{type} and nickname like CONCAT('%', #{queryParam}, '%') or username like CONCAT('%', #{queryParam}, '%') order by create_time
    </select>

    <update id="updateCaptcha" parameterType="java.util.HashMap">
        update t_user
        <set>
            <if test="captcha != null">
                captcha = #{captcha},
            </if>
            update_time = now(),
        </set>
        where id = #{id} and email = #{email}
    </update>

    <update id="updatePwd" parameterType="java.util.HashMap">
        update t_user
        <set>
            <if test="password != null">
                password = #{newPassword},
            </if>
            captcha = null,
            update_time = now(),
        </set>
        where id = #{id} and password = #{password} and email = #{email} and captcha = #{captcha}
    </update>

    <update id="updateUser" parameterType="com.plutossy.domain.User">
        update t_user
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="github != null">
                github = #{github},
            </if>
            <if test="csdn != null">
                csdn = #{csdn},
            </if>
            <if test="qq != null">
                qq = #{qq},
            </if>
            <if test="wechat != null">
                wechat = #{wechat},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            update_time = now(),
        </set>
        where id = #{id}
    </update>

    <insert id="insertUser" parameterType="com.plutossy.domain.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
                nickname,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="github != null">
                github,
            </if>
            <if test="csdn != null">
                csdn,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            type,create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="avatar != null">
                #{avatar},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="github != null">
                #{github},
            </if>
            <if test="csdn != null">
                #{csdn},
            </if>
            <if test="qq != null">
                #{qq},
            </if>
            <if test="wechat != null">
                #{wechat},
            </if>
            <if test="birth != null">
                #{birth},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="introduction != null">
                #{introduction},
            </if>
            false,now(),
        </trim>
    </insert>
    <delete id="deleteUserById" parameterType="java.lang.Long">
        delete from t_user
        where id = #{id} and type = false
    </delete>
</mapper>